<mat-card class="card margin-10">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>World in numbers</mat-card-title>
    <mat-card-subtitle>COVID-19</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="margin-10">
    <p>
      Main goal of the project is to present the data from different angle. See the trends and compare situation of
      other countries or regions.
    </p>
    <p>
      Data acquired thanks to Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. It is
      aggregated from number of sources.
    </p>
  </mat-card-content>
</mat-card>
