<div *ngIf="countriesValue$ | async as countries; else noData" class="chart-container" [ngSwitch]="chartType">
  <ngx-charts-area-chart-stacked
    *ngSwitchCase="Enums.SelectChartType.stacked"
    (window:resize)="onResize($event)"
    [scheme]="countries.colorScheme"
    [legend]="countries.legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="countries.showXAxisLabel"
    [showYAxisLabel]="countries.showYAxisLabel"
    [xAxis]="countries.xAxis"
    [yAxis]="countries.yAxis"
    [xAxisLabel]="countries.xAxisLabel"
    [yAxisLabel]="countries.yAxisLabel"
    [timeline]="countries.timeline"
    [results]="countries.multi"
    [view]="view"
    [timeline]="true"
  >
  </ngx-charts-area-chart-stacked>
  <ngx-charts-line-chart
    *ngSwitchCase="Enums.SelectChartType.linear"
    (window:resize)="onResize($event)"
    [scheme]="countries.colorScheme"
    [legend]="countries.legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="countries.showXAxisLabel"
    [showYAxisLabel]="countries.showYAxisLabel"
    [xAxis]="countries.xAxis"
    [yAxis]="countries.yAxis"
    [xAxisLabel]="countries.xAxisLabel"
    [yAxisLabel]="countries.yAxisLabel"
    [timeline]="countries.timeline"
    [results]="countries.multi"
    [view]="view"
    [timeline]="true"
  >
  </ngx-charts-line-chart>
</div>
<ng-template #noData>
  {{ 'text.NoData' | translate }}
</ng-template>
