<mat-grid-list cols="2" rowHeight="7:5">
  <mat-grid-tile>
    <mat-card>
      <mat-form-field>
        <mat-label>Select the chart</mat-label>
        <mat-select [(value)]="selectChartType">
          <mat-option>None</mat-option>
          <mat-option value="0">Google</mat-option>
          <mat-option value="1" default>ngx-charts</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      <h3>Chart</h3>
    </mat-grid-tile-header>
    <mat-card>
      <div>
        <google-chart
          *ngIf="selectChartType == 0 && charts.google && charts.google.countries$ | async as google"
          #chart
          [title]="google.title"
          [type]="google.type"
          [data]="google.data"
          [columnNames]="google.columnNames"
          [options]="google.options"
          [width]="google.width"
          [height]="google.height"
        >
        </google-chart>

        <ngx-charts-line-chart
          *ngIf="selectChartType == 1 && charts.ngx.countries$ | async as countries"
          [scheme]="countries.colorScheme"
          [timeline]="countries.timeline"
          [results]="countries.multi"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
        >
        </ngx-charts-line-chart>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="provinces">
            <th mat-header-cell *matHeaderCellDef>Provinces</th>
            <td mat-cell *matCellDef="let element">{{ element.provinces?.length }}</td>
          </ng-container>

          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let element">{{ element.country }}</td>
          </ng-container>

          <ng-container matColumnDef="confirmed">
            <th mat-header-cell *matHeaderCellDef>Confirmed</th>
            <td mat-cell *matCellDef="let element">{{ element.confirmed }}</td>
          </ng-container>

          <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef>Deaths</th>
            <td mat-cell *matCellDef="let element">{{ element.deaths }}</td>
          </ng-container>

          <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef>Recovered</th>
            <td mat-cell *matCellDef="let element">{{ element.recovered }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<div class="card-container">
  <!-- <div class="card">
    <mat-form-field>
      <mat-label>Select the chart</mat-label>
      <mat-select [(value)]="selectChartType">
        <mat-option>None</mat-option>
        <mat-option value="0" default>Google</mat-option>
        <mat-option value="1">ngx-charts</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->

  <!-- <div *ngIf="selectChartType == 0 && charts.google && charts.google.countries$ | async as google">
    <google-chart
      #chart
      [title]="google.title"
      [type]="google.type"
      [data]="google.data"
      [columnNames]="google.columnNames"
      [options]="google.options"
      [width]="google.width"
      [height]="google.height"
      >s
    </google-chart>
  </div>

  <ngx-charts-line-chart
  *ngIf="selectChartType == 1 && charts.ngx.countries$ | async as countries"
  [scheme]="countries.colorScheme"
  [timeline]="countries.timeline"
  [results]="countries.multi"
>
</ngx-charts-line-chart> -->
  <!-- <ngx-charts-area-chart-stacked
  *ngIf="selectChartType == 2 && charts.ngx.countries$ | async as countries"
  [view]="countries.view"
  [scheme]="countries.colorScheme"
  [legend]="countries.legend"
  [showXAxisLabel]="countries.showXAxisLabel"
  [showYAxisLabel]="countries.showYAxisLabel"
  [xAxis]="countries.xAxis"
  [yAxis]="countries.yAxis"
  [xAxisLabel]="countries.xAxisLabel"
  [yAxisLabel]="countries.yAxisLabel"
  [timeline]="countries.timeline"
  [results]="countries.multi"
  (select)="countries.onSelect($event)"
>
</ngx-charts-area-chart-stacked> -->
  <!-- <ngx-charts-area-chart-stacked
  *ngIf="selectChartType == 2 && charts.ngx.countries$ | async as countries"
  [scheme]="countries.colorScheme"
  [timeline]="countries.timeline"
  [results]="countries.multi"
>
</ngx-charts-area-chart-stacked> -->
  <!-- <div class="card">
    <ngx-charts-line-chart
      *ngIf="selectChartType == 1 && charts.ngx.countries$ | async as countries"
      [scheme]="countries.colorScheme"
      [timeline]="countries.timeline"
      [results]="countries.multi"
    >
    </ngx-charts-line-chart>
  </div> -->

  <!-- <div class="card mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="provinces">
        <th mat-header-cell *matHeaderCellDef>Provinces</th>
        <td mat-cell *matCellDef="let element">{{ element.provinces?.length }}</td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>

      <ng-container matColumnDef="confirmed">
        <th mat-header-cell *matHeaderCellDef>Confirmed</th>
        <td mat-cell *matCellDef="let element">{{ element.confirmed }}</td>
      </ng-container>

      <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef>Deaths</th>
        <td mat-cell *matCellDef="let element">{{ element.deaths }}</td>
      </ng-container>

      <ng-container matColumnDef="recovered">
        <th mat-header-cell *matHeaderCellDef>Recovered</th>
        <td mat-cell *matCellDef="let element">{{ element.recovered }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div> -->
</div>
